template(name="home")
	.panel.panel-default
		.panel-heading
			span.panel-title
				span.glyphicon.glyphicon-home
				span Under Construction!
		.panel-body
			p I'm testing meteor 0.8 capabilities now.
